imageio==2.8.0
Keras==2.3.1
kmodes==0.10.2
matplotlib==3.2.1
networkx==2.4
numpy==1.18.4
opencv-python==4.2.0.32
pandas==1.0.1
Pillow==7.1.2
progressbar33==2.4
pylint==2.5.2
PyYAML==5.3
quadprog
requests==2.18.4
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
tensorboard==1.14.0
tensorflow==1.14.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.43.0
scikit-image
numba==0.50.0
